.form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.5rem;
  }

  input {
    padding: 12px 20px;
    border-radius: 8px;
    margin: 8px 5px 8px 0;

    &[type='date'] {
      width: 100%;
      margin: 8px 0;
    }

    &[type='file'] {
      width: 100%;
      margin: 8px 0;
      background: linear-gradient(-45deg, #fa3, #fa3380);
    }
  }

  select {
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    margin: 8px 0;
  }

  .field-row {
    display: flex;
    align-items: center;
  }
}
