.options-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;

  input {
    width: 100px;
    border-radius: 8px;
    margin: 8px;
  }

  select {
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    margin: 8px;
  }
}
