.options-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;

  .options-bar-input {
    width: 140px;
    height: 30px;
    border-radius: 8px;
    margin: 8px;
    font-size: 1.5rem;
  }

  .options-bar-select {
    width: 150px;
    height: 30px;
    padding: 0 10px;
    border-radius: 8px;
    margin: 8px;
    font-size: 1.5rem;
  }

  p,
  label {
    color: darkcyan;
    font-weight: 600;
    span {
      color: #7030ce;
      font-weight: bolder;
    }
  }
}
