@import '../../index.scss';

.form-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    display: flex;
    flex-direction: column;

    input {
      width: 360px;
      padding: 12px 20px;
      border-radius: 8px;
      margin: 8px 5px 8px 0;
    }
  }
}
