@import '../../index.scss';

.form-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-card-content {
    display: flex;
    gap: 10px;
  }
}
