@import '../../index.scss';

.main-page-wrapper {
  height: calc(100hv - $header-height - $options-bar-height);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .message-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #9a4eff;
    font-size: 2rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
  }
}
