@import '../../index.scss';

.main-page-wrapper {
  height: calc(100hv - $header-height - $options-bar-height);
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    width: 250px;
    padding: 12px 20px;
    border-radius: 8px;
    margin: 8px 5px 8px 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
  }
}
