.modal-pop {
  background: black;
  border: 2px solid #aaa;
  border-radius: 5px;
  z-index: 999;
  width: 30%;
  margin: auto;
  padding: 1em 2em 2em;
  position: fixed;
  top: 10%;
  left: 35%;
  font-size: 1.5rem;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modal-title {
    text-align: center;
    position: relative;

    button {
      position: absolute;
      background: #9a4eff;
      color: white;
      border-radius: 50%;
      padding: 5px 10px;
      right: 0;
    }

    .modal-title-desc {
      width: 25vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  img {
    max-height: 350px;
    max-width: 25vw;
    border: 4px double #96e198;
    border-radius: 5px;
  }

  .date-content {
    background: #1a1b56;
    padding: 5px;
    border-radius: 3px;
    p {
      color: #f6e5eb;
      span {
        color: #00dbde;
      }
    }
  }

  .username-content {
    font-weight: 500;
    p {
      &:nth-child(1) {
        color: #eaa6bc;
      }
      &:nth-child(2) {
        color: #6caf6e;
      }
      &:nth-child(3) {
        color: #9bb3da;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #000;
  opacity: 0.75;
}
