.search-bar-wrapper {
  input {
    width: 250px;
    padding: 12px 20px;
    border-radius: 8px;
    margin: 8px 5px 8px 0;
  }

  button {
    background: linear-gradient(-45deg, #662abe, #64b5f6);
  }
}
