@import '../../index.scss';

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #f321d7, #ffec61);
  height: 100%;

  .navbar-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2rem;

    li {
      font-size: 2.5rem;
      font-weight: 300;
      text-align: center;
    }
  }

  .active {
    color: white;
    background: linear-gradient(-45deg, #9a4eff, #24ff72);
    padding: 10px;
    border: 1px solid $white-color;
    border-radius: 8px;

    &:before {
      content: 'Location: ';
      text-transform: capitalize;
      color: $black-color;
    }
  }

  .active {
    color: white;

    &:before {
      content: 'Location: ';
    }
  }
}
