@import '../../index.scss';

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #f321d7, #ffec61);
  height: 100%;

  .navbar-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2rem;
  }

  .active {
    color: white;

    &:before {
      content: 'Location: ';
    }
  }
}
