@import  '../../index.scss';

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $green-color;
  height: 100%;

  .navbar-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2rem;
  }
}
