@import 'index';

.container {
  width: 100%;
  height: 100vh;

  .header-container {
    height: $header-height;
  }

  .app-container {
    height: calc(100vh - $header-height);
    padding-right: 24px;
    padding-left: 24px;
  }
}
