$red-color: #e27d60;
$blue-color: #51b0d9;
$orange-color: #e8a87c;
$purple-color: #c38d9e;
$dark-purple-color: #7030ce;
$pink-color: #eaa6bc;
$green-color: #41b3a3;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: $dark-purple-color;
  text-decoration: inherit;
  transition: transform .2s;

  &:hover {
  border: 1px solid $dark-purple-color;
    border-radius: 8px;
    padding: 10px;
  }
}

body {
  margin: 0;
  place-items: center;
  //min-width: 320px;
  //min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid $purple-color;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $purple-color;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    background-color: $pink-color;
    border: 2px solid $pink-color;
  }
  &:focus,
  &:focus-visible {
    //outline: 4px auto -webkit-focus-ring-color;
  }
}

ul {
  list-style: none;
}
